html,
body,
.vert-center {
  height: 100%;
}

.segment {
  height: 100svh;
  width: 100vw;
  max-width: 100%;
}

body {
  /* background-color: black; */
  /* background-image: url("images/cropped_tooth.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white; */
}
.blackback {
  /* background-color: gray; */
}
.image-spacer {
  z-index: 1;
}
.image-carrier {
  /* opacity: 0.8;
    z-index: 5;
    position: absolute; */
}
.logo {
  max-width: 20vh;
}
.navbar {
  background-color: gray;
  /* border-radius: 0 0  7%; */
}
.primary-seg {
  background-image: url("./images/angled_granite.png");
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
}

.second-seg {
  background-color: #0f0f0f;
  color: #f5f5f5;
}

.disp-img {
  object-fit: contain;
  max-height: 33vh;
}

.rounded-top {
  border-radius: 10% 10% 0 0;
}
